{% extends "yugioh_app/base.html" %}

{% block content %}
<h1>Lista de Decks</h1>

{% if decks %}
    <ul>
        {% for deck in decks %}
            <li>
                <a href="{% url 'deck_detail' deck.id %}">{{ deck.nombre }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tienes ningún deck creado aún.</p>
{% endif %}

<!-- Botón para crear un nuevo deck (se muestra siempre) -->
<a href="{% url 'deck_create' %}" class="btn btn-primary">Crear Nuevo Deck</a>

{% endblock %}